.Projects {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .projects-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .top-part {
      padding-top: 75px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        position: relative;
        margin-bottom: 25px; /* Adjust margin as needed */
        text-align: center;
        padding-bottom: 5px;

        &::after {
          content: '';
          position: absolute;
          left: 50%;
          border-radius: 20%;
          transform: translateX(-50%);
          bottom: -5px; /* Adjust as needed */
          width: 24px; /* Length of the underline */
          height: 4.5px; /* Thickness of the underline */
          background-color: var(--accent-color); /* Adjust color as needed */
        }
      }

      p {
        font-weight: 500;
        font-size: 1.05rem;
        padding-top: 12.5px;
        text-align: center;

        span {
          color: var(--secondary-text-color);
        }
      }
    }

    .center-part {
      width: 100%;
      display: flex;
      flex-direction: column; /* Ensure projects are stacked vertically */
      align-items: center;
    }
  }

  @media (max-width: 768px) {
    .projects-content {
      padding: 0 20px; /* Add some padding for smaller screens */

      .top-part {
        h1 {
          font-size: 1.5rem; /* Adjust font size */
        }

        p {
          font-size: 1rem; /* Adjust font size */
        }
      }

      .center-part {
        .Project {
          .project-content {
            flex-direction: column; /* Stack project content vertically on smaller screens */

            .left-part,
            .right-part {
              width: 100%; /* Take full width on smaller screens */
            }

            .left-part {
              margin-bottom: 20px; /* Add some spacing between sections */
            }
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .projects-content {
      .top-part {
        h1 {
          font-size: 1.2rem; /* Further adjust font size */
        }

        p {
          font-size: 0.9rem; /* Further adjust font size */
        }
      }
    }
  }
}
